body{
  font-family: 'Lato', sans-serif;
}
.header h2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.mainentry{
  margin-top: 4%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 200px;
}
.mainentry input{
  width:195px;
}
.topentry{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width:300px;
  align-items: center;
}
.green{
  color:green;
}
.red{
  color:red;
}
.tabled {
  display: flex;
  flex-direction: column;
  height:100px;
  font-size: 24px;
  justify-content: space-around;
  align-items: center;

}
.tabled p.f{
  color:green;
}
.tabled p.s{
  color:red;
}
.history{
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height:auto;
}
.headhist p{
  font-size: 30px;
  text-align: center;
}
.renderation{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height:auto;
  
  font-size: 20px;
}
.structure{
  height:75px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width:300px;
}
.fade{
  display: none;
}